# no tempfiles from editors
*.sw?

# no Python artifacts
*.pyc
__pycache__/
/.coverage.*

# no build system artifacts
/build/
/dist/
/.cache/
/.coverage
/.eggs/
/htmlcov/
*.egg-info/
/docs-src/api/

coverage.out

# exclude my virtualenv
/.py3
